h1 {
    color: #35455D;
}

body {
    background-color: #ffffff;
    position: relative;
    font-family: Helvetica, Verdana;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    width: 100vw;
    overflow: auto;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

#tr1:nth-child(even) {
    background-color: #dddddd;
}

#table1 {
    counter-reset: rowNumber;
}

table #tr1 {
    counter-increment: rowNumber;
}

table #tr1 td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

#Tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Tables td, #Tables th {
    border: 1px solid #ddd;
    padding: 8px;
}

#Tables tr:nth-child(even) {
    background-color: #f2f2f2;
}

#Tables tr:hover {
    background-color: #ddd;
}

#Tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #35455D;
    color: white;
}

